doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Search Page
    link(rel='stylesheet', href='/css/style.css')
  body
    a(href='/') Home
    a(href='/popular') Popular pages

    #Container 
        p This is home page not popular enough fam