doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title add product page
    link(rel='stylesheet', href='/css/style.css')
  body
    p
      a(href='/') Return Home
    p Add New Product
    #addProductForm
      form(id='addForm' action='/products', method='POST')
        label Name
        input(type='text', name='name', placeholder='Enter your product name' required)
        br
        label Price 
        input(type='number', name='price', min='0', placeholder='Enter your product price' required)
        br
        label Stock
        input(type='number', name='stock', placeholder='Enter your product stock', min='0' required)
        br
        p Dimensions
        div(style='display: flex;')
          #xCord
            p x
            input(type='number', name='x', placeholder='x' required)
          #yCord
            p y
            input(type='number', name='y', placeholder='y' required)
          #zCord
            p z
            input(type='number', name='z', placeholder='z' required)
        button(type='submit') Add Product
        if error
          p.error= error