doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Review for Product  product.id
    link(rel='stylesheet', href='/css/style.css')
  body
    p
      a(href='/products/'+product.id) Return Back to Product
    p#titleName Review for Product #{product.name}
    #reviewContainer
      #review
        each a in product.reviews 
            #reviewContents
              p Rating : #{a.Rating}
